/*
Focus color (logo, hover, btn):         #2196F3;
Button hover:                           #188CE8;
Primary text color (nav, h1, h2):       #212121;
Secondary text color (p):               #757575;
Secondary opacity color:                rgba(117, 117, 117, 0.5);
Active white color (bg, btn-title):     #FFFFFF;
Opacity white color (address link):     rgba(255, 255, 255, 0.6);
Active black color (logo, nav):         #000000;
Opacity black:                          rgba(0, 0, 0, 0.1);
Background button color (bg btn):       #F5F4FA;
Background color (bg):                  #2F303A;
Header line color (border):             #ececec;
Border card (border):                   #eeeeee;
Icon color:                             #AFB1B8;
Subtitle bg:                            rgba(47, 48, 58, 0.8);
Gradient overlay (action box):          rgba(47, 48, 58, 0.4);
Opacity white (icon bg):                rgba(255, 255, 255, 0.1);
Focus color opacity:                    rgba(33, 150, 243, 0.9);
Backdrop color:                         rgba(0, 0, 0, 0.2);
Input border color:                     rgba(255, 255, 255, 0.3);
Form border color:                      rgba(33, 33, 33, 0.2);

Team card shadow:                       0px 1px 3px rgba(0, 0, 0, 0.12),
                                        0px 1px 1px rgba(0, 0, 0, 0.14),
                                        0px 2px 1px rgba(0, 0, 0, 0.2);

Button shadow (btn shadow):             0px 3px 1px rgba(0, 0, 0, 0.1),
                                        0px 1px 2px rgba(0, 0, 0, 0.08),
                                        0px 2px 2px rgba(0, 0, 0, 0.12);

Main button shadow (order-btn):         0px 4px 4px rgba(0, 0, 0, 0.15);

Main button hover shadow (order-btn):   0px 4px 4px rgba(0, 0, 0, 0.25);

Gallery card shadow (gallery-item):     0px 1px 1px rgba(0, 0, 0, 0.12), 
                                        0px 4px 4px rgba(0, 0, 0, 0.06),
                                        1px 4px 6px rgba(0, 0, 0, 0.16)

Margin gallery card:                    30px;

Duration:                             250ms;

Cubic bezier:                           cubic-bezier(0.4, 0, 0.2, 1);
*/

/* Color palette */
:root {
  --focus-color: #2196f3;
  --bnt-hover: #188ce8;
  --pimary-text: #212121;
  --secondary-text: #757575;
  --secondary-opacity: rgba(117, 117, 117, 0.5);
  --active-white: #ffffff;
  --opacity-white: rgba(255, 255, 255, 0.6);
  --active-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.1);
  --bg-btn-color: #f5f4fa;
  --bg-color: #2f303a;
  --header-line: #ececec;
  --border-card: #eeeeee;
  --icon-color: #afb1b8;
  --gradient-overlay: rgba(47, 48, 58, 0.4);
  --opacity-white-bg: rgba(255, 255, 255, 0.1);
  --opacity-focus-color: rgba(33, 150, 243, 0.9);
  --subtitle-bg: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --input-border: rgba(255, 255, 255, 0.3);
  --form-input-border: rgba(33, 33, 33, 0.2);

  --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  --main-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hover-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --gallery-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  --gallery-gap: 30px;

  --trans-duration: 250ms;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  color: var(--secondary-text);
  background-color: var(--active-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg);

  transition: opacity var(--trans-duration) var(--cubic-bezier);

  opacity: 1;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  background-color: var(--active-white);
  box-shadow: var(--team-shadow);
  border-radius: 4px;

  transition: transform var(--trans-duration) var(--cubic-bezier);
}

/* Modal form */
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  padding: 0;
  width: 30px;
  height: 30px;

  justify-content: center;
  align-items: center;

  color: var(--active-black);
  background-color: var(--active-white);

  border: 1px solid var(--opacity-black);
  border-radius: 50%;

  transition: color var(--trans-duration) var(--cubic-bezier);

  cursor: pointer;
}

.btn-close__icon {
  width: 18px;
  height: 18px;
  transition: fill var(--trans-duration) var(--cubic-bezier);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--focus-color);
}

.form {
  display: flex;
  padding: 40px;

  flex-direction: column;
}

.form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--pimary-text);
}

.form__list {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.input-group:last-child {
  margin-bottom: 20px;
}

.input-group__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-group__item {
  position: relative;
}

.input-group__input {
  padding-left: 42px;

  width: 100%;
  height: 40px;

  transition: border-color var(--trans-duration) var(--cubic-bezier);
}

.input-group__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  fill: var(--pimary-text);

  transition: fill var(--trans-duration) var(--cubic-bezier);
}

.input-group__area {
  padding: 12px 16px;
  height: 120px;

  line-height: 1.14;
  letter-spacing: 0.01em;

  resize: none;

  transition: border-color var(--trans-duration) var(--cubic-bezier);
}

.input-group__area::placeholder {
  color: var(--secondary-opacity);
}

.input-group__input,
.input-group__area {
  color: var(--pimary-text);
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.input-group__input:hover,
.input-group__area:hover,
.input-group__input:focus,
.input-group__area:focus {
  border-color: var(--focus-color);
  outline: none;
}

.input-group__input:hover + .input-group__icon,
.input-group__input:focus + .input-group__icon {
  fill: var(--focus-color);
}

/* Checkbox */
.checkbox-group {
  display: flex;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-group__item {
  position: relative;
  width: 16px;
  height: 15px;
}

.checkbox-group__custom {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 15px;

  border: 2px solid var(--pimary-text);
  border-radius: 2px;

  cursor: pointer;

  transition: border-color var(--trans-duration) var(--cubic-bezier),
    background-color var(--trans-duration) var(--cubic-bezier);
}

.checkbox-group__custom:hover,
.checkbox-group__custom:focus {
  border-color: var(--bnt-hover);
}

.checkbox-group__input:focus + .checkbox-group__custom {
  border-color: var(--bnt-hover);
}

.checkbox-group__input:checked + .checkbox-group__custom {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}

.checkbox-group__icon {
  position: absolute;
  width: 16px;
  height: 15px;

  transform: scale(0);
  opacity: 0;

  transition: transform var(--trans-duration) var(--cubic-bezier),
    opasity var(--trans-duration) var(--cubic-bezier);
}

.checkbox-group__input:checked ~ .checkbox-group__icon {
  transform: scale(1);
  opacity: 1;
}

.checkbox-group__label {
  margin-left: 7px;
}

.checkbox-group__link {
  color: var(--focus-color);

  transition: color var(--trans-duration) var(--cubic-bezier);
}

.checkbox-group__link:hover,
.checkbox-group__link:focus {
  color: var(--bnt-hover);
}

.btn--form {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
}

/* Header logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--focus-color);
}

.logo--header {
  color: var(--active-black);
}

.logo--footer {
  color: var(--active-white);
}

/* Header navigation */
.header {
  border-bottom: 1px solid var(--header-line);
}

.navigation,
.header__navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--pimary-text);

  transition: color var(--trans-duration) var(--cubic-bezier);
}

.navigation__link.navigation__link--active {
  color: var(--focus-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--focus-color);
}

.navigation__link--active::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: var(--focus-color);

  border-radius: 2px;
}

/* Header contact */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--secondary-text);

  transition: color var(--trans-duration) var(--cubic-bezier);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--focus-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero side */
.hero {
  padding: 200px 0px;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;

  text-align: center;

  background-color: var(--bg-color);
  background-image: linear-gradient(to right, var(--gradient-overlay), var(--gradient-overlay)),
    url(../images/action-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--active-white);
}

.btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--active-white);
  background-color: var(--focus-color);
  box-shadow: var(--main-btn-shadow);

  border: none;
  border-radius: 4px;

  transition: background-color var(--trans-duration) var(--cubic-bezier),
    box-shadow var(--trans-duration) var(--cubic-bezier);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--bnt-hover);
  box-shadow: var(--hover-btn-shadow);
}

/* Advantage side & Title H2 */
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--pimary-text);
}

.advantage__list {
  display: flex;
}

.advantage__item {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.advantage__item:nth-child(4n) {
  margin-right: 0px;
}

.advantage__subtitle,
.join-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--pimary-text);
}

.advantage__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage__icon-box {
  margin-bottom: 30px;
  padding: 25px 100px;
  text-align: center;

  background-color: var(--bg-btn-color);
  border-radius: 4px;
}

.advantage__icon {
  display: block;
  width: 70px;
  height: 70px;
}

/* About us section */
.about-us {
  padding-top: 0px;
}

.about-us__list {
  display: flex;
}

.about-us__item {
  position: relative;
}

.about-us__item:not(:last-child) {
  margin-right: 30px;
}

.about-us__subtitle {
  position: absolute;
  bottom: 0;

  display: flex;
  padding: 27px 0;
  width: 100%;
  justify-content: center;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--active-white);
  background-color: var(--subtitle-bg);
}

/* Team side */
.team {
  background-color: var(--bg-btn-color);
}

.team__list {
  display: flex;
}

.team__item {
  text-align: center;

  background-color: var(--active-white);

  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--team-shadow);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.card {
  padding-top: var(--gallery-gap);
  padding-bottom: var(--gallery-gap);
}

.card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--pimary-text);
}

.card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social,
.clients__list {
  display: flex;
  justify-content: center;
  color: var(--icon-color);
}

.social__list:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: color var(--trans-duration) var(--cubic-bezier),
    background-color var(--trans-duration) var(--cubic-bezier);
}

.social__link:hover,
.social__link:focus {
  color: var(--active-white);
  background-color: var(--focus-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Clients section */
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color var(--trans-duration) var(--cubic-bezier),
    border-color var(--trans-duration) var(--cubic-bezier);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);
}

/* Footer */
.footer {
  padding: 60px 0px;
  background-color: var(--bg-color);
}

.footer--center {
  display: flex;
  align-items: baseline;
}

.address {
  margin-right: 70px;
}

.address--footer {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--opacity-white);

  transition: color var(--trans-duration) var(--cubic-bezier);
}

.address__link:hover,
.address__link:focus {
  color: var(--focus-color);
}

.address__text {
  color: var(--active-white);
  transition: color var(--trans-duration) var(--cubic-bezier);
}

.address__text:hover,
.address__text:focus {
  color: var(--focus-color);
}

/* Join section */
.join {
  margin-right: 93px;
}

.subtitle {
  color: var(--active-white);
  margin-bottom: 20px;
}

.join__list {
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--active-white);
  background-color: var(--opacity-white-bg);
  border-radius: 50%;

  transition: background-color var(--trans-duration) var(--cubic-bezier);
}

.join__link:hover,
.join__link:focus {
  color: var(--active-white);
  background-color: var(--focus-color);
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Footer form */
.subscribe__form {
  display: flex;
}

.subscribe__input {
  margin-right: 12px;
  padding: 15px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--opacity-white);

  background-color: transparent;
  box-shadow: var(--main-btn-shadow);
  border: 1px solid var(--input-border);
  border-radius: 4px;

  transition: border-color var(--trans-duration) var(--cubic-bezier);
}

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: var(--opacity-focus-color);
}

.btn-subscribe {
  display: flex;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
  display: block;
  width: 24px;
  height: 24px;
}

/* Portfolio.html */
/* Filter */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--pimary-text);
  background-color: var(--bg-btn-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--trans-duration) var(--cubic-bezier),
    background-color var(--trans-duration) var(--cubic-bezier),
    box-shadow var(--trans-duration) var(--cubic-bezier);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--active-white);
  background-color: var(--focus-color);
  box-shadow: var(--btn-shadow);
}

.filter__btn--active {
  background-color: var(--focus-color);
  color: var(--active-white);
  box-shadow: var(--btn-shadow);
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gallery-gap));
  margin-left: calc(-1 * var(--gallery-gap));
}

.gallery__item {
  flex-basis: 370px;
  margin-top: var(--gallery-gap);
  margin-left: var(--gallery-gap);

  background-color: var(--active-white);

  transition: box-shadow var(--trans-duration) var(--cubic-bezier);
}

.gallery__item:hover,
.gallery__item:focus {
  box-shadow: var(--gallery-card-shadow);
}

/* Gallery overlay */
.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--trans-duration) var(--cubic-bezier);

  background-color: var(--opacity-focus-color);
}

.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}

.gallery__description {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--active-white);
}

.gallery__header {
  padding: 20px 24px;
  border: 1px solid var(--border-card);
  border-top: none;
}

.gallery__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--pimary-text);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-text);
}
