.features-list {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        margin: -15px;
    }
}

.features-list__item {
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

     @media screen and (min-width: 1200px) {
            width: calc((100% - 8 * 15px) / 4);
            margin: 15px;
        }
}

.features-list__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    border-radius: $mainBorderRadius;
    background-color: $secondBgColor;
}

.features-list__title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: $mainTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features-list__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

// works-list

.section__worklist {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 0px;
    }
}

.works-list {
    display: flex;
    @extend %list;
}

.works-list__item:not(:last-child) {
    margin-right: 30px;
}

.works-list__thumb {
    position: relative;
    width: 370px;
    height: 294px;
    text-align: center;
}

.works-list__description {
    position: absolute;
    margin: 0;
    padding: 27px 82px;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;

    color: $whiteExtraColor;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}