.hero-section {
    margin-left: auto;
    margin-right: auto;
    padding: 118px 30px;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("/images/hero/mobile/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $mainBgColor;
   
    // @media screen and (min-width: 480px) {
    //     height: 400px;
    //     padding: 118px 60px;
    // }

    // @media screen and (min-width: 768px) {
    //     padding: 118px 204px;
    // }

    // @media screen and (min-width: 1200px) {
    //     height: 600px;
    //     padding: 200px 252px;
    // }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("/images/hero/mobile/img@2x.jpg");
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .hero-section {
        padding: 118px 60px;
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding: 118px 204px;
    }
}

@media (min-width: 577px) and (max-width: 960px) {
    .hero-section {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("/images/hero/tablet/img.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("/images/hero/tablet/img@2x.jpg");
        }
    }
}

@media (min-width: 960px) {
    .hero-section {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("/images/hero/desktop/img.jpg");
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("/images/hero/desktop/img@2x.jpg");
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        padding: 200px 252px;
    }
}

.hero-section__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $whiteExtraColor;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero-section__button {
    padding: 10px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    color: $whiteExtraColor;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: $accentColor;
    border-radius: $mainBorderRadius;
    border: none;
    text-decoration: none;
    cursor: pointer;
}