.section--team {
    background-color: $secondBgColor;
}

.team-list {
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team-list__member {
    padding-bottom: 24px;
    background-color: $whiteExtraColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.team-list__photo {
    display: block;

    // @media screen and (max-width: 767px) {
    //     width: 100%;
    // }

    // @media screen and (min-width: 768px) {
    //     width: 354px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 270px;
    // }
}

.team-list__title {
    margin-top: 30px;
    margin-bottom: 0;

    color: $mainTextColor;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-list__text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.social-links {
    @extend %list;
    @extend %centeredFlex;
}

.social-links__link {
    @extend %centeredFlex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $whiteExtraColor;
        background-color: $accentColor;
    }
}

