// Filter
.filter {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-bottom: 40px;

  @media screen and (min-width: getSize(tablet)) {
    justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: getSize(tablet)) {
    margin-bottom: 0;
  }
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor(primary);
  background-color: getColor(btn-bg);

  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color getProperty(duration) getProperty(cubic),
    background-color getProperty(duration) getProperty(cubic),
    box-shadow getProperty(duration) getProperty(cubic);

  &:hover,
  &:focus,
  &--active {
    color: getColor(active-white);
    background-color: getColor(accent);
    box-shadow: getShadow(button-filter);
  }
}

// Gallery
.gallery {
  @extend %list;

  @media screen and (min-width: getSize(tablet)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: -getProperty(gap-gallery);
    margin-left: -getProperty(gap-gallery);
  }
}

.gallery__item {
  margin: 0 auto;
  margin-bottom: getProperty(gap-gallery);

  max-width: max-content;
  background-color: getColor(active-white);
  transition: all getProperty(duration) getProperty(cubic);

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: getShadow(gallery-card);
  }

  @media screen and (min-width: getSize(tablet)) {
    margin-top: getProperty(gap-gallery);
    margin-right: 0;
    margin-bottom: 0;
    margin-left: getProperty(gap-gallery);

    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: getSize(desktop)) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery__item--hidden {
  transform: scale(0.3);
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery__item:hover .gallery__overlay,
.gallery__item:focus .gallery__overlay {
  transform: translateY(0);
}

.gallery__link {
  @extend %link;
  height: 100%;

  @media screen and (min-width: getSize(tablet)) {
    display: flex;
    flex-direction: column;
  }
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(101%);

  background-color: getColor(accent-opacity);

  transition: transform getProperty(duration) getProperty(cubic);
}

.gallery__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: getColor(active-white);

  @media screen and (max-width: getSize(mobile)) {
    padding: calc(5px + 5vw) 24px;
    font-size: calc(9px + 2vw);
  }

  @media screen and (min-width: getSize(mobile)) {
    padding: 77px 24px;
    font-size: 18px;
  }
}

.gallery__header {
  padding: 20px 24px;
  border: 1px solid getColor(card);
  border-top: none;

  @media screen and (min-width: getSize(tablet)) {
    flex-grow: 1;
  }
}

.gallery__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor(primary);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
