$mainTextColor: #212121;
$secondTextColor: #757575;
$accentColor: #2196F3;
$whiteExtraColor: #ffffff;
$mainBgColor: #2F303A;
$secondBgColor: #F5F4FA;
$mainBorderRadius: 4px;
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway',
sans-serif;
